html {
	height: 100%;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	background-repeat: no-repeat;
	height: 100%;
}

h1 {
	text-align: center;
	margin: 64px 0;
	font-size: 5rem;
	color: #0175EA;
}

#div-dang-ky {
	text-align: center;
	margin: 10% auto;
	height: 300px;
	width: 600px;
	border: double 5px #0175EA;
  /* display: none; */
}

.text-welcome {
  color: #0175EA;
	font-size: 2rem;
	font-weight: 400;
	font-family: "Lucida Console", "Courier New", monospace;
}

#txtUsername {
	height: 25px;
	width: 400px;
	margin-top: 48px;
}

/* Button */
#btnSignUp,
#btnSignUp *,
#btnSignUp :after,
#btnSignUp :before,
#btnSignUp:after,
#btnSignUp:before {
  border: 0 solid;
  box-sizing: border-box;
}
#btnSignUp {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
#btnSignUp:disabled {
  cursor: default;
}
#btnSignUp:-moz-focusring {
  outline: auto;
}
#btnSignUp svg {
  display: block;
  vertical-align: middle;
}
#btnSignUp [hidden] {
  display: none;
}
#btnSignUp {
	height: 50px;
	width: 120px;
	font-size: 1.2rem;
	background: linear-gradient(90deg, #EB9300, #A0CDFA);
	border-radius: 999px;
	box-sizing: border-box;
	color: #000;
	display: block;
	font-weight: 700;
	overflow: hidden;
	padding: 1.8rem 5rem;
	position: relative;
	text-transform: uppercase;
	margin: auto;
	margin-top: 16px;
}
#btnSignUp span {
  background: #1e293b;
  border-radius: 999px;
  color: #fff;
  display: grid;
  inset: 5px;
  place-items: center;
  position: absolute;
  transition: background 0.3s;
}
#btnSignUp:hover span {
  background: none;
  color: #000;
}


/* div-call */
#div-chat {
  /* border: 1px solid #000; */
  text-align: center;
}

.online {
  font-size: 2rem;
	font-weight: 400;
	font-family: "Lucida Console", "Courier New", monospace;
}

#ulUser {
    font-size: 1.6rem;
    list-style: none;
    color: #5BB318;
    margin-right: 32px;
}

#ulUser:hover {
  cursor: pointer;
  color: #7DCE13;
}

#remoteStream {
  margin-top: 16px;
  height: 100px;
  width: 500px;
}

.yourID {
  font-size: 2rem;
	font-weight: 400;
	font-family: "Lucida Console", "Courier New", monospace;
}

#my-peer {
  font-size: 1.5rem;
}

#remoteId {
  margin-top: 16px;
  height: 25px;
  width: 500px;
}

#btnCall {
  font-size: 2rem;
  color: #fff;
  border: none;
  width: 60Px;
  height: 60Px;
  border-radius: 30px;
  display: block;
  margin: auto;
  margin-top: 16px;
  background-color: green;
}

#btnCall:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}
